.home{
    color: #b3b7c1;
    font-size: 13px;
    text-align: center;
    padding-bottom: 10em;
}
.introduction{
    padding: 0 20em;
}
h6{
    color: #FFF;
}
.homeDivider{
    text-align: center;
    border-left: 3px dashed #CCC;
    height: 160px;
    margin-left: 15px;
     position: absolute;
    left: 45%;
}
.home img{
    width: 300px;
    border:1px solid rgb(26, 39, 66);
    -webkit-box-shadow: 2px 1px 14px 9px rgba(31,31,64,1);
-moz-box-shadow: 2px 1px 14px 9px rgba(31,31,64,1);
box-shadow: 2px 1px 14px 9px rgba(31,31,64,1);
}
.dividerContainer{
    position: relative;
}

.howItWorks{
    text-decoration: underline;
}